.button {
    width: 150px;
    height: 50px;
    border-radius: 16px;
    background-color: #939eff91;
    color: #f7f4f4;
    border-radius: 50px;
    transition: all 0.5s ease;
    text-align: center;
    &:hover {
        background-color: #5b6bffc7;
    }
    &:active {
        background-color: #DBD9EE;
        color: #664FFF;
        border-radius: 30px 10px 30px 10px;
    }
    @media (min-width: 481px) {
        max-width: 80%;
    }
}