body {
    background-image: linear-gradient(to right, #e48ffb, #ffb545);
}

.container {
    padding-top: 100px;
    margin-inline: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    @media (min-width: 481px) {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 993px) {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(5, 1fr);
    }
}