.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
};

.text {
    padding: 15px;
    border: solid 1px #2fff90c0;
    border-radius: 16px;
    background-color: #939eff91;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media(min-width: 481px) {
        display: block;
    }
}

.start {
    margin-inline: 10px;
    font-size: 17px;
    color: #f5ff31d6;
}

.end {
    margin-inline: 10px;
    font-size: 17px;
    color: #00fb00;
}